@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    overflow-x: hidden;
    overflow-y: auto;
}
.homepage_bg{
    background-image: url('../src/assets/Images/bghome.svg');
}
.codeblock1 {
    width: 372.95px;
    height: 257.05px;
    border-radius: 100%;
    left: calc(50% - 372.95px / 2 - 76.53px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    background: linear-gradient(
      123.77deg,
      #750ada -6.46%,
      #0462dc 59.04%,
      #05bae7 124.53%
    );
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
  }
  .codeblock2 {
    position: absolute;
    width: 372.95px;
    height: 257.05px;
    left: calc(50% - 372.95px / 2 - 76.53px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    border-radius: 100%;
    background: linear-gradient(
      118.19deg,
      #efecea -3.62%,
      #fd0d00 50.44%,
      #f00606 104.51%
    );
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #010000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #829fa0; 
  }
   
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }